<!-- use full url including 'index.html' for navigation bar if you are using ajax -->
<ul id="nav">
	<li id="ajax"><a href="{{ root_url }}/index.html">Home</a></li>
	<li id="ajax"><a href="{{ root_url }}/blog/archives/index.html">Archives</a></li>
    <li><a href="http://solarex.github.io/wiki">Wiki</a></li>
    <li id="ajax"><a href="{{ root_url }}/about">About</a></li>
    <li><a href="http://solarex.github.io/resume">Resume</a></li>
    {% if site.simple_search %}
    <li>
    <div id="dark">
        <form method="get" action="http://google.com/search" id="search">
            <input type="hidden" name="q" value="site:solarex.github.io">
            <input name="q" type="text" results="0" placeholder="Search..." x-webkit-speech />
        </form>
    </div>
    </li>
    {% endif %}    
</ul>
